
body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
    background-color: #a37a9d; 
    
}


.card { 
    background-color: #c793bc; 
    padding: 30px; 
    border-radius: 12px; 
    box-shadow: 0 8px 24px rgba(10, 10, 10, 0.5); 
    text-align: center;
    color: rgb(100, 5, 95);
    width: 300px;

}


input { 
    display: block; 
    margin: 15px auto; 
    padding: 12px; 
    width: 90%; 
    border-radius: 6px;
    border: 2px solid #800d53;
    background-color: #800d53; 
    color: #e583f0; 
    outline: none;
    transition: border-color 0.3s;

}


input:focus {
    border-color: #00ff88; 

}


button:hover {
    background-color: #6b0c4e;

}

#mensagem { 
    margin-top: 15px; 
    font-size: 0.9em;

}